.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pinnedContain {
  width: 80%;
  gap: 2em;
}

.parentContain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.pinnedContain {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;

  width: 80%;
}

.innerModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(167, 167, 167);
  border-radius: 1em;
}

.gallaryList {
  margin: 1em;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.7);
  /* background-color: rgb(185, 185, 185); */
  border-radius: 1em;
}

.topControlsContainer {
  position: relative;
  /* background-color: rgb(167, 167, 167); */
  background-color: transparent;
  border-radius: 1em;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em 0.5em 1.5em;
}

.title {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.save {
  grid-area: save;
}

.exit {
  grid-area: exit;
  width: 2em;
  height: 2em;
}

@media (max-width: 900px) {
  .pinnedContain {
    width: 100%;
    flex-direction: column;
    gap: 5em;
  }
}

@media (max-width: 550px) {
  .topControlsContainer {
    padding: 0 .75em .5em .75em;
  }

  .title {
    gap: .5em;
  }

  .title>h3 {
    width: 50%;
  }

}