.spinner>img {
  position: absolute;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
}

.rotate {
  transform: rotateY(-90deg);
}

.spinner {
  transform-style: preserve-3d;

  /* attempt to show properly stacked 3d animation on safari/ios */
  perspective: 100000vw;
  z-index: 100;

  display: inline-flex;
  position: relative;
  width: 100%;
  height: 100%;
}