.spinner>img {
  position: absolute;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
}

.spinner .face2 {
  transform: rotateY(-90deg);
  z-index: -500;
}

.spinner {
  transform-style: preserve-3d;

  perspective: 2500rem;
  /* large perspective added to try and fix safari stacking/z-index issue */

  display: inline-flex;
  position: relative;
  width: 100%;
  height: 100%;
}