.spinner>img {
  position: absolute;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
}

/* .spinner */
.face2 {
  transform: rotateY(-90deg);
}

.spinner {
  transform-style: preserve-3d;

  /* attempt to show properly stacked 3d animation on safari */
  /* perspective: 2500rem; */
  /* z-index: 150; */

  display: inline-flex;
  position: relative;
  width: 100%;
  height: 100%;
}