.right {
  margin-left: 60%;
  margin-right: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right > * {
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn {
  width: 100px;
  height: 50px;
  background-color: rgb(255, 115, 0);
  border: none;
}

.btn:hover {
  background-color: rgb(255, 165, 91);
}

.btn:active {
  background-color: rgb(155, 70, 0);
}
