.autofillResult {
  width: 100%;
  cursor: pointer;
}

.autofillResult:first-child {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.autofillResult:last-child {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.autofillResult:only-child {
  border-radius: .35em;
}

.autofillResult:hover {
  background-color: #d7d7d7;
}

.autofillFormatting {
  display: flex;
  align-items: center;

  margin-left: 1em;
  padding: 0.25em 0 0.25em 0;
}

.autofillRelatedDivider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;

  width: 100%;
  cursor: auto;
  pointer-events: none;
}

.leadingLine {
  height: 1px;
  width: 30%;
  background-image: linear-gradient(to right,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 1));
}

.trailingLine {
  height: 1px;
  width: 30%;
  background-image: linear-gradient(to right,
      rgba(0, 0, 0, 1),
      rgba(255, 255, 255, 0));
}