.fullWidth {
  background: linear-gradient(89deg, #11ca49, #72c659, #0b8e22);
  background-size: 600% 600%;

  overflow: hidden;
  z-index: 100;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  -webkit-animation: backgroundFade 6s ease infinite;
  -moz-animation: backgroundFade 6s ease infinite;
  animation: backgroundFade 6s ease infinite;
}

/* .centerTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 1);
  border-radius: 0.25em;
  width: 15em;

  z-index: 200;
} */
/* Drawing Dash 
        Join ___ users in creating 
            over ___ drawings! */

@-webkit-keyframes backgroundFade {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@-moz-keyframes backgroundFade {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@keyframes backgroundFade {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
