.fullWidth {
  background: linear-gradient(89deg, #11ca49, #72c659, #0b8e22);
  background-size: 600% 600%;

  width: 90%;

  overflow: hidden;
  z-index: 100;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  -webkit-animation: backgroundFade 6s ease infinite;
  -moz-animation: backgroundFade 6s ease infinite;
  animation: backgroundFade 6s ease infinite;
}

.animatedContainer {
  position: absolute;
  left: 0;
  top: 0;

  transition: "display .5s";
}

.drawingTitleContainer {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  gap: 0.5em;
  padding: 1em;
  background-color: white;
  z-index: 600;
  transition: all 200ms;
}

.durationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.focalProgressBar {
  position: absolute;
  bottom: 0;
  height: 5px;
  width: 0;
  border-radius: 1em;
}

.searchGridContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "drawing0 drawing1 drawing2 drawing3 drawing4 drawing5 drawing6 drawing7 drawing8 drawing9"
    "drawing10 drawing11 drawing12 drawing13 drawing14 drawing15 drawing16 drawing17 drawing18 drawing19"
    "drawing20 drawing21 drawing22 drawing23 drawing24 drawing25 drawing26 drawing27 drawing28 drawing29";
  transition: all 200ms;
}

/* start of first row */
.drawing0 {
  grid-area: drawing0;
}

.drawing1 {
  grid-area: drawing1;
}

.drawing2 {
  grid-area: drawing2;
}

.drawing3 {
  grid-area: drawing3;
}

.drawing4 {
  grid-area: drawing4;
}

.drawing5 {
  grid-area: drawing5;
}

.drawing6 {
  grid-area: drawing6;
}

.drawing7 {
  grid-area: drawing7;
}

.drawing8 {
  grid-area: drawing8;
}

.drawing9 {
  grid-area: drawing9;
}

/* start of second row */
.drawing10 {
  grid-area: drawing10;
}

.drawing11 {
  grid-area: drawing11;
}

.drawing12 {
  grid-area: drawing12;
}

.drawing13 {
  grid-area: drawing13;
}

.drawing14 {
  grid-area: drawing14;
}

.drawing15 {
  grid-area: drawing15;
}

.drawing16 {
  grid-area: drawing16;
}

.drawing17 {
  grid-area: drawing17;
}

.drawing18 {
  grid-area: drawing18;
}

.drawing19 {
  grid-area: drawing19;
}

.drawing20 {
  grid-area: drawing20;
}

.drawing21 {
  grid-area: drawing21;
}

/* start of third row */
.drawing22 {
  grid-area: drawing22;
}

.drawing23 {
  grid-area: drawing23;
}

.drawing24 {
  grid-area: drawing24;
}

.drawing25 {
  grid-area: drawing25;
}

.drawing26 {
  grid-area: drawing26;
}

.drawing27 {
  grid-area: drawing27;
}

.drawing28 {
  grid-area: drawing28;
}

.drawing29 {
  grid-area: drawing29;
}

.drawing30 {
  grid-area: drawing30;
}

@-webkit-keyframes backgroundFade {
  0% {
    background-position: 0% 51%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 51%;
  }
}

@-moz-keyframes backgroundFade {
  0% {
    background-position: 0% 51%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 51%;
  }
}

@keyframes backgroundFade {
  0% {
    background-position: 0% 51%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 51%;
  }
}

@media (max-width: 1400px) {
  .searchGridContainer {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (max-width: 1200px) {
  .searchGridContainer {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 1000px) {
  .fullWidth {
    width: 95%;
  }

  .searchGridContainer {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 900px) {
  .drawingTitleContainer {
    width: 40%;
    height: 45px;
  }
}

@media (max-width: 800px) {
  .searchGridContainer {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 600px) {
  .searchGridContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 400px) {
  .searchGridContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}