.baseFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.bottomContain {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5em;
  width: 100%;
  height: 65px;
  border-radius: 0 0 1em 1em;
  padding: 0 0.5em;
}

.hide {
  display: none;
}

.deleteButton {
  position: absolute;

  top: 0.5em;
  left: 0.5em;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 1em;
  border-width: 2px;
  border-color: rgba(0, 0, 0, .3);

  opacity: 0;
  cursor: pointer;

  padding: 0.35em 0.75em 0.35em 0.75em;
  /* z-index: 500; */
  transition: all 200ms;
}

.confirmDeleteText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  background-color: #f6f6f6;

  border-radius: 1em;
  padding: 3em 3em 2em 3em;
}

.deleteModalControls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  margin-top: 1.5em;
}

.innerUsernameTooltipContainer {
  position: absolute;
  width: 50px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.usernameTooltipContainer {
  position: absolute;
  top: 0;

  width: 50px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editButton {
  background-color: initial;
  background-image: linear-gradient(-180deg, #ff7e31, #e62c03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  z-index: 9;
  border: 0;
  transition: box-shadow 0.2s;
}

/* idk why this won't show up, last sweeping change you made was html { overflow: hidden } */
.editButton:hover:enabled {
  box-shadow: rgba(253, 76, 0, 1) 0 3px 8px;
}

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  background-image: linear-gradient(-180deg, #ebebeb, #c4c4c4);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  transition: box-shadow 0.2s;
  padding: 0.75em 1em;
  margin-right: 0.5em;
}

.closeButton:hover {
  box-shadow: rgba(117, 117, 117, 0.5) 0 3px 5px;
}

.likes {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  border-radius: 1em;
  background: rgba(255, 255, 255, 0.25);
  padding: 0.25em 0.5em 0.25em 0.5em;
}

.modal {
  position: absolute;
  left: 0;
  top: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;

  transition: all 200ms;
}

.download {
  border-radius: 1em;
  background-color: rgb(239, 239, 239);
  padding: 0.75em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75em;
}

.mobileActionButtons {
  gap: 1.5em;
  transition: all 200ms;
}

.goBackButton {
  position: absolute;
  top: 1em;
  left: 2em;

  background-color: initial;
  background-image: linear-gradient(-180deg, #ff7e31, #e62c03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;

  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  /* position: relative; */
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  z-index: 9;
  border: 0;
  transition: box-shadow 0.2s;
}

.goBackButton:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

.usernameTooltip {
  position: relative;
  top: 6px;
  left: -248%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 9em;
  height: 5em;
  background: white;

  box-shadow: rgb(0 0 0 / 30%) 2px 4px 8px 0px;
  text-align: center;
  padding: 0.5em;

  border-radius: 1em;
  z-index: 400;
  transition: all 250ms;
}

.usernameTooltip:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(194, 194, 194, 0);
  border-bottom-color: white;
  border-width: 10px;
  margin-left: -10px;
}

.likesTooltip {
  position: relative;
  top: 6px;
  left: -248%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 9em;
  height: 5em;
  background: white;

  box-shadow: rgb(0 0 0 / 30%) 2px 4px 8px 0px;
  text-align: center;
  padding: 0.5em;

  border-radius: 1em;
  z-index: 400;
  transition: all 250ms;
}

.likesTooltip:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(194, 194, 194, 0);
  border-bottom-color: white;
  border-width: 10px;
  margin-left: -10px;
}

/* eventually move skeleton animation to own component */
.skeletonLoading {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 0.5em;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}