.listContain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2em;
  grid-auto-flow: row;
  overflow-y: scroll;
  height: 65vh;
  background-color: rgb(185, 185, 185);
  padding: 1em;
}

.flexListContain {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* overflow-y: scroll; */
  /* height: 65vh; */
  width: 100%;
  gap: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.baseFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 2em; */
  width: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.durationIconContainer {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  padding: 1em 1em 0.5em 1em;
}

.darken {
  opacity: 50%;
}

.hide {
  display: none;
}
