.listContain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: repeat(auto-fill, 300px); */
  gap: 2em;
  grid-auto-flow: row;
  justify-content: space-evenly;
  align-items: start;
  justify-items: center;
}
