.listContain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2em;
  grid-auto-flow: row;
  overflow-y: scroll;
  height: 65vh;
  background-color: rgb(185, 185, 185);
  padding: 1em;
}

/* don't think we need anymore */
/* .flexListContain {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* overflow-y: scroll; */
/* height: 65vh; 
  width: 100%;
  gap: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
} 
*/

.gridListContain {
  display: grid;
  grid-template-columns: repeat(3, minmax(210px, 3fr));
  grid-gap: 2em;
  justify-content: center;
  padding: 1em;
}

.baseFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 2em; */
  margin-top: 3em;
  width: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.durationIconContainer {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-width: 2px 2px 0 2px;
  padding: 0.5em 4em 0.5em 4em;
  transition: all 200ms;
}

.baseButtonFlex {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hoverRed {
  background: linear-gradient(to bottom, #ffffff, rgb(255 0 0 / 40%));
}

.hoverYellow {
  background: linear-gradient(to bottom, #ffffff, rgb(255 255 0 / 40%));
}

.hoverGreen {
  background: linear-gradient(to bottom, #ffffff, rgb(0 255 0 / 40%));
}

.darken {
  opacity: 50%;
}

.hide {
  display: none;
}

.pageSelectorButton {
  margin-top: 1em;
  border-radius: 1em;
  border: none;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
}

.pageSelectorButton:hover {
  background-color: #c2c2c2 !important;
}
