.baseFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
}

.cropContainer {
  position: relative;
  width: 60vw;
  height: 61vh;
  background-color: grey;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;

  margin-top: 1.5em;
}

.zoomContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}