.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #18d638;
  /* padding: 0 4%; */
}

.navbar {
  width: 50%;
}

.mainLinkButtons {
  gap: 3em;
}

.logo {
  padding-left: 6em;
  transition: all 200ms;
}

/* #logoImg {
  border: 1px solid black;
} */

.logo:hover {
  filter: brightness(1.5);
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.header a {
  text-align: center;
  text-decoration: none;
  color: black;
}

.badge {
  background-color: #5bff76;
  color: white;
  border-radius: 12px;
  padding: 0 1rem;
  margin-left: 0.5rem;
}

.signInButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.dailyDrawButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 60px;
  border-radius: 1em;
  border-color: #e2e2e2;
  border-width: 0.25em;
  border-style: solid;
  transition: all 200ms;
}



/* @media (max-width: 1920px) {
  .dailyDrawButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 60px;
    border-radius: 1em;
    border-color: #e2e2e2;
    border-width: 0.25em;
    border-style: solid;
    transition: all 200ms;
  }
} */

.dailyDrawButton:hover {
  background-color: hsl(348deg 100% 44%);
}

/* last defined class has higher precedence */
.activeDailyDraw {
  background-color: hsl(348deg 100% 44%);
}

.drawButtonBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;

  width: 85%;
  height: 85%;
  background-color: transparent;
  transition: all 200ms;
}

.exploreButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 60px;
  margin: 10px;
  border-radius: 1em;
  border-color: #e2e2e2;
  border-width: 0.25em;
  border-style: solid;
  transition: all 200ms;
}

.exploreButton:hover {
  background-color: hsl(67deg 100% 47%);
}

/* last defined class has higher precedence */
.activeExplore {
  background-color: hsl(67deg 100% 47%);
}

.profilePicture {
  border-radius: 50%;
  object-fit: cover;
  width: 3em;
  height: 3em;
}

.profileDropdownContainer {
  position: relative;
  width: 48px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdownContainer {
  position: absolute;

  width: 48px;
  height: 72px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.profileButton {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  background-color: white;
  border-radius: 1em 1em 0 0;
  outline: none;
  border: none;
  filter: brightness(1);
  transition-duration: 0.2s, 0.2s, 0.1s;
  transition-property: color, background-color, filter;
}

.profileButton:hover {
  color: white;
  background-color: #ff7e31;
  cursor: pointer;
}

.profileButton:active {
  filter: brightness(0.7);
}

.profileDropdown {
  position: absolute;
  top: 72px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 8em;
  height: 7em;
  background: white;

  box-shadow: rgb(0 0 0 / 30%) 2px 4px 8px 0px;

  opacity: 0;
  border-radius: 1em;
  z-index: 400;
  transition: all 250ms;
}

.profileDropdown:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(194, 194, 194, 0);
  border-bottom-color: white;
  border-width: 10px;
  margin-left: -10px;
}

.rainbow {
  height: 250px;
  width: 250px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 5px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.rainbow:before {
  content: "";
  height: 150%;
  width: 150%;
  position: absolute;
  background: conic-gradient(#fd004c,
      #fe9000,
      #fff020,
      #3edf4b,
      #3363ff,
      #b102b7,
      #fd004c);
  left: -25%;
  top: -25%;
  animation: spin 1.5s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}

.rainbow:after {
  content: "RAINBOW";
  position: absolute;
  background-color: #1c1b29;
  height: 93%;
  width: 93%;
  top: 3.5%;
  left: 3.5%;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 6px;
  display: grid;
  place-items: center;
}

@media only screen and (hover: none) and (max-width: 2000px) {
  .navbar {
    width: 40%;
  }
}

@media only screen and (hover: hover) and (max-width: 1750px) {
  .navbar {
    width: 60%;
  }
}



@media (max-width: 1500px) {
  .navbar {
    width: 50%;
  }
}

@media only screen and (hover: hover) and (max-width: 1500px) {
  .navbar {
    width: 70%;
  }
}

@media only screen and (hover: hover) and (max-width: 1255px) {

  /* .navbar {
    width: 75%;
  } */
  .welcomeText {
    display: none;
  }
}

@media only screen and (hover: hover) and (max-width: 1250px) {
  .navbar {
    width: 70%;
  }

  .signInButtons>button {
    width: 100% !important;
  }
}


/* change the width of navbar to like 80% or sum shit around this px area */


/* equal to or smaller than {1150} */
@media (max-width: 1200px) {
  .navbar {
    width: 60%;
  }
}

@media only screen and (hover: hover) and (max-width: 1075px) {

  .navbar {
    width: 70%;
  }

}

@media (max-width: 1000px) {
  .navbar {
    width: 70%;
  }
}

@media (max-width: 850px) {
  .navbar {
    width: 75%;
  }

  .logo {
    padding-left: 1.55em;
  }

  .mainLinkButtons {
    gap: 1.5em;
  }

  /*
  .header ul {
    gap: 4.5em;
  }

*/
}

@media only screen and (hover: hover) and (max-width: 920px) {
  .logo {
    padding-left: .5em;
  }

  .navbar {
    width: 80%;
  }
}

@media (max-width: 760px) {
  .navbar {
    width: 60%;
  }

  .mainLinkButtons {
    gap: 5.5em;
  }

  .dailyDrawButton {
    width: 250%;
  }

  .exploreButton {
    width: 230%;
  }

  .navButton {
    display: none;
  }


}

@media (max-width: 600px) {
  .navbar {
    width: 70%;
  }

  #logoImg {
    width: 80%;
  }

  .mainLinkButtons {
    gap: 3.5em;
  }

  .dailyDrawButton {
    width: 200%;
  }

  .exploreButton {
    width: 180%;
  }

  /* .header ul {
    gap: 3.5em;
  } */
}


@media (max-width: 450px) {
  .navbar {
    width: 80%;
  }

  .logo {
    padding-left: .5em;
  }

  .mainLinkButtons {
    gap: 1em;
  }

  .header ul {
    gap: .5em;
  }

  .dailyDrawButton {
    width: 110%;
  }

  .exploreButton {
    width: 100%;
  }

  .navButton {
    display: none;
  }
}