.baseFlex {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1em;

  margin-left: 2em;
}

.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #18d638;
  padding: 0 10%;
}

.logo {
  transition: all 200ms;
}

.logo:hover {
  filter: brightness(1.9);
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1em;
}

/* .header li {
  margin-left: 3rem;
} */

.header a {
  text-align: center;
  text-decoration: none;
  /* font-size: 1.5rem; */
  color: black;
}

.badge {
  background-color: #5bff76;
  color: white;
  border-radius: 12px;
  padding: 0 1rem;
  margin-left: 0.5rem;
}

/* .signInButtons button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
}
.signInButtons button:hover {
  color: #000000;
  background-color: #23c50d;
} */

.signInButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-left: 2em;
}

.dailyDrawButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 60px;
  margin: 10px;
  border-radius: 6px;
  border-color: #e2e2e2;
  border-width: 0.25em;
  border-style: solid;
  transition: all 200ms;
}

.dailyDrawButton:hover {
  /* border-color: hsl(348deg 100% 44%); */
  background-color: hsl(348deg 100% 44%);
}

/* hoping that classes defined later take higher precendence */
.activeDailyDraw {
  /* border-color: hsl(348deg 100% 44%); */
  background-color: hsl(348deg 100% 44%);
}

.drawButtonBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;

  width: 85%;
  height: 85%;
  background-color: tranparent;
  transition: all 200ms;
}

.exploreButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 60px;
  margin: 10px;
  border-radius: 6px;
  border-color: #e2e2e2;
  border-width: 0.25em;
  border-style: solid;
  transition: all 200ms;
}

.exploreButton:hover {
  /* border-color: hsl(67deg 100% 45%); */
  background-color: hsl(67deg 100% 45%);
}

.activeExplore {
  /* border-color: hsl(67deg 100% 45%); */
  background-color: hsl(67deg 100% 45%);
}

.profilePicture {
  /* position: absolute;
  top: 0;
  left: 0; */
  border-radius: 50%;
  object-fit: cover;
  width: 3em;
  height: 3em;
}

.profileDropdownContainer {
  position: relative;
  width: 48px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdownContainer {
  position: absolute;

  width: 48px;
  height: 72px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.profileButton {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  background-color: white;
  border-radius: 1em 1em 0 0;
  outline: none;
  border: none;
  transition: all 200ms;
}

.profileButton:hover {
  color: white;
  background-color: #ff7e31;
  cursor: pointer;
}

.profileDropdown {
  position: absolute;
  top: 72px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 8em;
  height: 7em;
  background: white;

  box-shadow: rgb(0 0 0 / 30%) 2px 4px 8px 0px;

  opacity: 0;
  border-radius: 1em;
  z-index: 400;
  transition: all 250ms;
}

.profileDropdown:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(194, 194, 194, 0);
  border-bottom-color: white;
  border-width: 10px;
  margin-left: -10px;
}

.rainbow {
  height: 250px;
  width: 250px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 5px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.rainbow:before {
  content: "";
  height: 150%;
  width: 150%;
  position: absolute;
  background: conic-gradient(
    #fd004c,
    #fe9000,
    #fff020,
    #3edf4b,
    #3363ff,
    #b102b7,
    #fd004c
  );
  left: -25%;
  top: -25%;
  animation: spin 1.5s infinite linear;
}
@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}
.rainbow:after {
  content: "RAINBOW";
  position: absolute;
  background-color: #1c1b29;
  height: 93%;
  width: 93%;
  top: 3.5%;
  left: 3.5%;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 6px;
  display: grid;
  place-items: center;
}
