.vertFlex {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  justify-content: center;
  align-items: center;
}

.pinnedContain {
  margin: 15px;
}

.baseHoverHighlight:hover {
  outline: 0.5em solid #92df89;
  border-radius: 1em;
}

.emptyShowcase {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 1em;
  transition: all 200ms;
  cursor: pointer;
}

.emptyShowcase:hover {
  background: rgba(0, 0, 0, 0.8);
}