.baseFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

.baseHorizFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75em;
}

.profilePicture {
  border-radius: 50%;
  object-fit: cover;
  width: 165px;
  height: 165px;
}

.vertTrailing {
  height: 16em;
  width: 1px;
  background-image: linear-gradient(to bottom,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 1),
      rgba(255, 255, 255, 0));
}

.updateButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputLabel {
  color: grey;
}

.prefCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  width: 100%;
  border-radius: 15px;
}

.prefCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.pinnedTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leadingLine {
  height: 1px;
  width: 6em;
  margin-right: 0.5em;
  background-image: linear-gradient(to right,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 1));
}

.trailingLine {
  height: 1px;
  width: 6em;
  margin-left: 0.5em;
  background-image: linear-gradient(to right,
      rgba(0, 0, 0, 1),
      rgba(255, 255, 255, 0));
}

.setStatus {
  width: 17em;
}

.maxChars {
  position: absolute;
  right: 0;
  font-size: .7em;
}

.resizeButton {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  background-image: linear-gradient(-180deg, #ebebeb, #c4c4c4);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  transition: box-shadow 0.2s;

}

.modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
  transition: all 200ms;
}

.cropImageModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 60vw;
  height: 75vh;

  border-radius: 1em;
  background: linear-gradient(350deg,
      rgb(27, 138, 56) 0%,
      rgb(36, 231, 62) 100%);

  z-index: 350;
}

.uploadOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  border-radius: 50%;

  background-color: rgba(0, 0, 0, 0.3);
  z-index: 150;
  transition: background-color 0.3s;
}

.uploadOverlay:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

.buttonOperationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.85em;

  cursor: pointer;
}

/* should tie click on image to open up input */
input[type="file"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.resetPasswordContainer {
  position: relative;
  width: 100%;
  height: 2.5em;
}

.resetPasswordButton {
  border: none;
  border-radius: 1em;
  background-color: #e0e0e0;
  cursor: pointer;
  padding: 0.5em 2em 0.5em 2em;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
}

.resetPasswordButton:hover {
  background-color: #c2c2c2 !important;
}

.emailSentTooltip {
  position: relative;
  top: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 110%;
  background: rgb(174 255 154);

  box-shadow: rgb(0 0 0 / 10%) 2px 4px 8px 0px;
  text-align: center;
  padding: 0.5em;

  border-radius: 1em;
  z-index: 400;
  transition: all 250ms;
}

.emailSentTooltip:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(194, 194, 194, 0);
  border-bottom-color: rgb(174 255 154);
  border-width: 10px;
  margin-left: -10px;
}

.notAvailableTooltip {
  position: relative;
  top: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 70%;
  height: 110%;
  background: rgb(212, 212, 212);

  box-shadow: rgb(0 0 0 / 10%) 2px 4px 8px 0px;
  text-align: center;
  padding: 0.5em;

  border-radius: 1em;
  z-index: 400;
  transition: all 250ms;
}

.notAvailableTooltip:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(194, 194, 194, 0);
  border-bottom-color: rgb(212, 212, 212);
  border-width: 10px;
  margin-left: -10px;
}