.sideContain {
  margin-top: 1em;
  margin-bottom: 1em;
  list-style: none;
}

.baseFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
}

li>div>a {
  display: flex;
  align-items: center;
  gap: 0.5em;

  text-decoration: none;

  width: 100%;
  height: 100%;
  padding: 0.75rem 1.25rem;

  transition: all 0.3s;
}

li>div>a:hover {
  color: rgb(250, 250, 250);
}

.vertContain {
  display: block;
}

.greenNavlink {
  border-radius: 10rem;
  color: #fff;
  font-size: 1rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 10.5em;
}

.greenNavlink:hover:before {
  width: 100%;
}

.greenNavlink:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(136deg 95% 24%);
  border-radius: 10rem;
  z-index: -2;
}

.greenNavlink:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: hsl(128deg 100% 42%);
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}

.greenActive {
  background-color: hsl(128deg 100% 42%);
}

/* /////////////////////////////////////////////////////// */

.yellowNavlink {
  border-radius: 10rem;
  width: 10.5em;
  /* color: #fff; */
  font-size: 1rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s;
}

.yellowNavlink:hover:before {
  width: 100%;
}

.yellowNavlink:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: hsl(61deg 85% 27%);
  border-radius: 10rem;
  z-index: -2;
}

.yellowNavlink:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: hsl(60deg 95% 39%);
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}

.yellowActive {
  background-color: hsl(60deg 95% 39%);
}

/* /////////////////////////////////////////////////////// */

.redNavlink {
  border-radius: 10rem;
  color: #fff;
  font-size: 1rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 10.5em;
}

.redNavlink:hover:before {
  width: 100%;
}

.redNavlink:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(356deg 89% 24%);
  border-radius: 10rem;
  z-index: -2;
}

.redNavlink:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: hsl(357deg 100% 37%);
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}

.redActive {
  background-color: hsl(357deg 100% 37%);
}