@import "../../index.module.css";

/* small styles */

.shimmerSmall {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  z-index: 200;
}

.shimmerSmall:hover:before {
  position: absolute;
  top: 0;
  left: -100px;
  content: "";
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.6);
  transform: skew(45deg);
  /* transition: 0.1s; */
  animation: shineSmall 0.6s ease;
  animation-play-state: var(--shimmerPlayState);
}

@keyframes shineSmall {
  from {
    left: -100px;
  }

  to {
    left: 100px;
  }
}

.roundedProfileSmall {
  border-radius: 50%;
  object-fit: cover;
  width: 50px;
  height: 50px;
}

/* medium styles */

.shimmerMedium {
  position: relative;
  width: 65px;
  height: 65px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: rgb(0 0 0 / 30%) 0 2px 4px;
  z-index: 200;
}

.shimmerMedium:hover:before {
  position: absolute;
  top: 0;
  left: -125px;
  content: "";
  width: 65px;
  height: 65px;
  background: rgba(255, 255, 255, 0.6);
  transform: skew(45deg);
  /* transition: 0.1s; */
  animation: shineMedium 0.6s ease;
  animation-play-state: var(--shimmerPlayState);
}

@keyframes shineMedium {
  from {
    left: -100px;
  }

  to {
    left: 100px;
  }
}

.roundedProfileMedium {
  border-radius: 50%;
  object-fit: cover;
  width: 65px;
  height: 65px;
}