/* .sidebar {
} */

.sideContain {
  margin-top: 1em;
  margin-bottom: 1em;
  list-style: none;
  background-color: #e3e3e3;
  border-radius: 2em;
  text-align: center;
}

li > a {
  display: inline-block;
  color: rgb(0, 0, 0);
  padding: 1em 1.5em 1em 1.5em;
  border-radius: 2em;
}

.navlink::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #0af;

  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.navlink:hover::before,
.navlink:focus::before {
  transform: scaleX(1);
}

.navlink {
  transition: color 300ms ease-in-out;
  z-index: 1;
  border-radius: 2em;
}

.navlink:hover,
.navlink:focus {
  color: white;
}
