.formContainer {
  display: flex;
  justify-content: center;
  margin-left: 2em;
  margin-right: 2em;
}

.searchContainer {
  margin-left: 25px;
  margin-right: 25px;
}

textarea,
input {
  outline: none;
}
