.formContainer {
  display: flex;
  align-items: baseline;
}

.searchContainer {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

textarea,
input {
  outline: none;
}

.hide {
  display: none;
}

.show {
  background: gainsboro;
  border: 1px grey solid;
  border-width: 0px 1px 1px 1px;
}
