.listContain {
  width: 100%;
}

.autofillRelatedDivider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;

  width: 100%;
  cursor: auto;
  pointer-events: none;
}

.leadingLine {
  height: 1px;
  width: 15%;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 1)
  );
}

.trailingLine {
  height: 1px;
  width: 15%;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(255, 255, 255, 0)
  );
}
