.userModalContain {
  gap: 1em;

  width: 80vw;
  max-height: 95vh;

  background-color: white;
  padding: 4em 0 3em 0;
  border-radius: 1em;
}

.userModal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: 100%;
  width: 100%;

  padding: 1em 3em 1em 3em;
  overflow-y: scroll;
  overflow-x: hidden;
}

.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5em;

  background-color: white;
  padding: 3em;
  border-radius: 1em;
}

.prefCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  width: 60em;
  border-radius: 15px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 1.25em;
}

.rightSide {
  text-align: center;
  width: 25em;
}

.indicators {
  margin-right: 35px;
}

.image {
  border-radius: 50%;
}

.skeletonLoading {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.goBackButton {
  position: absolute;
  top: 1em;
  left: 2em;

  background-color: initial;
  background-image: linear-gradient(-180deg, #ff7e31, #e62c03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;

  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  /* position: relative; */
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  z-index: 9;
  border: 0;
  transition: box-shadow 0.2s;
}

.goBackButton:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

@media (max-width: 1250px) {
  .userModalContain {
    width: 95vw;

  }

  .container {
    flex-direction: column;
    padding: 1em;
    margin-bottom: 3em;
    gap: 2em;
    width: auto;
  }

  .leftSide {
    padding: 0;
  }
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }
}