.gridListContain {
  display: grid;
  grid-template-columns: repeat(3, minmax(210px, 3fr));
  grid-gap: 2em;
  justify-content: center;
  padding: 1em;
}

.baseFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 3em;
  width: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.durationIconContainer {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-width: 2px 2px 0 2px;
  padding: 0.5em 4em 0.5em 4em;
  transition: all 200ms;
}

.baseButtonFlex {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hoverRed {
  background: linear-gradient(170deg, #ffffff, rgb(255 0 0 / 90%));
  box-shadow: red 0px 0px 2px 0px;
}

.hoverYellow {
  background: linear-gradient(170deg, #ffffff, rgb(255 255 0 / 90%));
  box-shadow: yellow 0px 0px 2px 0px;
}

.hoverGreen {
  background: linear-gradient(170deg, #ffffff, rgb(0 255 0 / 90%));
  box-shadow: green 0px 0px 2px 0px;
}

.darken {
  opacity: 50%;
}

.hide {
  display: none;
}

@media (max-width: 1250px) {
  .gridListContain {
    grid-template-columns: repeat(2, minmax(210px, 3fr));
  }
}

@media (max-width: 800px) {
  .durationIconContainer {
    padding: .5em;
  }
}

@media (max-width: 750px) {
  .gridListContain {
    grid-template-columns: repeat(1, minmax(210px, 3fr));
  }
}

@media (max-width: 500px) {
  .buttonContainer {
    gap: .75em;
  }
}