.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(130 80% 44% / 1);
  box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%);
}

.navbar {
  width: 50%;
  transition: all 200ms;
}

.mainLinkButtons {
  gap: 3em;
}

.logo {
  padding-left: 6em;
  transition: all 200ms;
}

.logo:hover {
  filter: brightness(1.5);
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.header a {
  text-align: center;
  text-decoration: none;
  color: black;
}

.header>div>a {
  box-shadow: 2px 2px 10px 0px rgb(18 161 42 / 55%);
}

.dailyDrawButton,
.exploreButton {
  box-shadow: 2px 2px 10px 0px rgb(18 161 42 / 35%);
}

.sidebarProfileContainer {
  transition: all 200ms;
}

.sidebarProfileContainer:hover {
  transform: scale(1.05);
}

.sidebarProfileContainer:active {
  transform: scale(0.95);
}

.shimmerMedium {
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: rgb(0 0 0 / 30%) 0 2px 4px;
  z-index: 200;
}

.shimmerMedium:hover:before {
  position: absolute;
  top: 0;
  left: -125px;
  content: "";
  width: 80px;
  height: 80px;
  background: rgba(255, 255, 255, 0.6);
  transform: skew(45deg);
  /* transition: 0.1s; */
  animation: shineMedium 0.6s ease;
  animation-play-state: var(--shimmerPlayState);
}

@keyframes shineMedium {
  from {
    left: -100px;
  }

  to {
    left: 100px;
  }
}

.badge {
  background-color: #5bff76;
  color: white;
  border-radius: 12px;
  padding: 0 1rem;
  margin-left: 0.5rem;
}

.signInButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.navButton {
  text-shadow: 1px 2px 3px hsl(0deg 0% 0% / 40%);
}

.dailyDrawButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 60px;
  border-radius: 1em;
  border-color: #e2e2e2;
  border-width: 0.25em;
  border-style: solid;
  transition: all 200ms;
}

.dailyDrawButton:hover {
  background-color: hsl(348deg 100% 44%);
}

/* last defined class has higher precedence */
.activeDailyDraw {
  background-color: hsl(348deg 100% 44%);
}

.drawButtonBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;

  width: 85%;
  height: 85%;
  background-color: transparent;
  transition: all 200ms;
}

.exploreButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 60px;
  margin: 10px;
  border-radius: 1em;
  border-color: #e2e2e2;
  border-width: 0.25em;
  border-style: solid;
  transition: all 200ms;
}

.exploreButton:hover {
  background-color: hsl(67deg 100% 46%);
}

/* last defined class has higher precedence */
.activeExplore {
  background-color: hsl(67deg 100% 46%);
}

.profilePicture {
  border-radius: 50%;
  object-fit: cover;
  width: 3em;
  height: 3em;
}

.profileDropdownContainer {
  position: relative;
  width: 48px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdownContainer {
  position: absolute;

  width: 48px;
  height: 72px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.profileButton {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  background-color: white;
  border-radius: 1em 1em 0 0;
  outline: none;
  border: none;
  filter: brightness(1);
  transition-duration: 0.2s, 0.2s, 0.1s;
  transition-property: color, background-color, filter;
}

.profileButton:hover {
  color: white;
  background-color: #ff7e31;
  cursor: pointer;
}

.profileButton:active {
  filter: brightness(0.7);
}

.profileDropdown {
  position: absolute;
  top: 72px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 8em;
  height: 7em;
  background: white;

  box-shadow: rgb(0 0 0 / 30%) 2px 4px 8px 0px;

  opacity: 0;
  border-radius: 1em;
  z-index: 400;
  transition: all 250ms;
}

.profileDropdown:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(194, 194, 194, 0);
  border-bottom-color: white;
  border-width: 10px;
  margin-left: -10px;
}

@media only screen and (hover: hover) and (max-width: 1850px) {
  .navbar {
    width: 55%;
  }
}

@media only screen and (hover: hover) and (max-width: 1700px) {
  .navbar {
    width: 60%;
  }
}

@media only screen and (hover: hover) and (max-width: 1455px) {
  .navbar {
    width: 70%;
  }
}

@media only screen and (hover: hover) and (max-width: 1255px) {
  .welcomeText {
    display: none;
  }

  .signInButtons>button {
    width: 100% !important;
  }
}

@media only screen and (hover: hover) and (max-width: 920px) {
  .logo {
    padding-left: 0.5em;
  }

  .navbar {
    width: 80%;
  }
}

/* mobile */
@media only screen and (hover: none) and (max-width: 2000px) {
  .navbar {
    width: 40%;
  }
}

@media only screen and (hover: none) and (max-width: 1500px) {
  .navbar {
    width: 50%;
  }
}

@media (max-width: 1200px) {
  .navbar {
    width: 60%;
  }
}

@media (max-width: 1000px) {
  .navbar {
    width: 70%;
  }
}

@media (max-width: 850px) {
  .navbar {
    width: 75%;
  }

  .logo {
    padding-left: 1.55em;
  }

  .mainLinkButtons {
    gap: 1.5em;
  }
}

@media (max-width: 760px) {
  .navbar {
    width: 60%;
  }

  .mainLinkButtons {
    gap: 5.5em;
  }

  .dailyDrawButton {
    width: 250%;
  }

  .exploreButton {
    width: 230%;
  }

  .navButton {
    display: none;
  }
}

@media (max-width: 630px) {
  .navbar {
    width: 60%;
  }

  #logoImg {
    width: 80%;
  }

  .mainLinkButtons {
    gap: 3.5em;
  }

  .dailyDrawButton {
    width: 200%;
  }

  .exploreButton {
    width: 180%;
  }
}

@media (max-width: 540px) {
  .navbar {
    width: 67%;
  }
}

@media (max-width: 450px) {
  .navbar {
    width: 55%;
  }

  .logo {
    padding-left: 0.5em;
  }

  .mainLinkButtons {
    gap: 1em;
  }

  .header ul {
    gap: 0.5em;
  }

  .dailyDrawButton {
    width: 110%;
  }

  .exploreButton {
    width: 100%;
  }

  .navButton {
    display: none;
  }
}

@media (max-width: 410px) {
  .navbar {
    width: 62%;
  }
}

@media (max-width: 350px) {
  .navbar {
    width: 75%;
  }
}