.baseFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
}

.cropContainer {
  position: relative;
  width: 60vw;
  height: 75vh;
  background-color: grey;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;

  min-height: 5em;
  /* margin-top: 1.5em; */
}

.zoomContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

@media (max-width: 1000px) {
  .cropContainer {
    width: 75vw;
  }
}

@media (max-width: 575px) {
  .cropContainer {
    width: 90vw;
    height: 60vh;
  }

  .controls {
    flex-direction: column;
    gap: 1.5em;
    min-height: 8em;
  }
}