.rounded {
  background-color: black;
  border-radius: 50%;
  border-width: 1px;
  border-style: none;
}

.small {
  width: 30px;
  height: 30px;
}

.medium {
  width: 45px;
  height: 45px;
}
.large {
  width: 60px;
  height: 60px;
}

.rounded:hover {
  opacity: 80%;
}
