.contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contain > canvas {
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
}

.title {
  text-align: center;
}
