.flexContain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.baseFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.horizContain {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  user-select: none;
  transition: all 200ms;
}

#blur {
  filter: blur(5px);
  pointer-events: none;
}

.horizContain > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.flexContain > div > div > canvas {
  border-top-width: none;
  border-bottom-width: none;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 5px;
}

.timer {
  position: absolute;
  right: 1em;
  top: 1em;

  pointer-events: none;
}

.durationButton {
  min-width: 50%;
  padding-top: 1em;
  border-radius: 1em;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
}

.durationButton:hover {
  background-position: 100px;
}

.timeBorder {
  margin-top: 0.5em;
  text-shadow: 0px 3px 5px black;
  color: rgba(255, 255, 255, 0.9);
}

.promptTextMargin {
  margin: 0 1.5em 1.5em 1.5em;
  text-shadow: 0px 3px 5px black;
  color: white;
  text-align: center;
}

.hide {
  display: none;
}

.timerSelectionsModal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  height: 80vh;
  font-size: 1.5em;
}

.promptRefreshTimer {
  border-radius: 1em;
  background: linear-gradient(
    354deg,
    rgb(131 131 131) 0%,
    rgb(231 231 231) 100%
  );
  padding: 1.75em;
}

.canvasOutline {
  width: 97.27%;
  height: 75vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 3em;
  background-color: white;
  border-top-width: 0px;
  border-bottom-width: 0px;
  /* border-left: 1px solid black;
  border-right: 1px solid black; */
  border-radius: 5px;
}

.canvasBorder {
  width: 100%;
  height: 100%;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-radius: 5px;
}

.pointer {
  cursor: pointer;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.leadingLine {
  height: 1px;
  width: 3em;
  margin-right: 0.5em;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 1)
  );
}

.trailingLine {
  height: 1px;
  width: 3em;
  margin-left: 0.5em;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(255, 255, 255, 0)
  );
}

.download {
  border-radius: 1em;
  background-color: rgb(239, 239, 239);
  padding: 0.75em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75em;
}

.overlayBreathingBackground {
  background: linear-gradient(
    0deg,
    rgba(64, 64, 64, 1) 0%,
    rgba(204, 204, 204, 1) 100%
  );
  border-radius: 25px;
  display: grid;
  place-items: end center;
  margin-bottom: 4em;
  margin-top: 3em;
  width: 77%;
}

.infoModal {
  width: 100%;
  height: 100%;
  position: relative;
  background: #c2c2c2;
  width: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  height: 50px;
  opacity: 0;
  padding: 1.75em;
  border-radius: 5px;
  transition: all 250ms;
}

.infoModal:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(194, 194, 194, 0);
  border-bottom-color: #c2c2c2;
  border-width: 10px;
  margin-left: -10px;
}

.canvasBreathingBackground {
  background: linear-gradient(
    0deg,
    rgba(64, 64, 64, 1) 0%,
    rgba(204, 204, 204, 1) 100%
  );
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4em;
  margin-top: 3em;
  width: 78vw;
  height: 90vh;
}

.sharedContain {
  position: relative;
  width: 75vw;
  height: 75vh;
}

.rounded {
  border-radius: 5px;
}

.canvasStyles {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 200;
  border-radius: 5px;
  overflow: hidden;
}

.startScreen {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 300;
}

.endScreen {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 400;
  font-size: 1em;
  background-color: rgb(255, 255, 255, 0.2);
}

.endButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em 3em 1em 3em;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 1em;
  box-shadow: rgb(0 0 0 / 10%) 0 2px 4px;
}

.registerPromoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  background-color: white;

  margin-top: 2em;
  margin-bottom: 2em;
  height: 9em;

  border-radius: 1em;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
}

.drawAgainButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin: 1em 3em 1em 3em;
  padding: 1em 3em 1em 3em;

  background-image: linear-gradient(-180deg, #ff7e31, #e62c03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  border: 0;
  /* white-space: nowrap; */
  transition: box-shadow 0.2s;
}

.orSeparator {
  display: flex;

  justify-content: center;
  align-items: center;

  font-size: 0.85em;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.drawAgainButton:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

.fadingVerticalLine {
  height: 2.5em;
  width: 1px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 1),
    rgba(255, 255, 255, 0)
  );
}

.redBackground {
  background: linear-gradient(#ffffff, rgb(255, 0, 0));

  background-size: 1px 500px;

  transition: all 0.5s ease-out;
}

.yellowBackground {
  background: linear-gradient(#ffffff, rgb(247, 247, 0));

  background-size: 1px 500px;

  transition: all 0.5s ease-out;
}

.greenBackground {
  background: linear-gradient(#ffffff, rgb(0, 250, 0));

  background-size: 1px 500px;

  transition: all 0.5s ease-out;
}
