.react-colorful {
  z-index: 900;
  right: 90%;
  top: 5px;
  height: 150px !important;

  cursor: pointer;

  border: 2px solid white;
  border-radius: 1.1em 1.1em 1em 1em;
  box-shadow: rgba(0, 0, 0, 1) 0 3px 15px;
}

.react-colorful__saturation {
  border-bottom: none !important;
  border-radius: 1em 1em 0 0 !important;
}

.react-colorful__last-control {
  border-radius: 0 0 1em 1em !important;
}