.contain {
  display: flex;
  gap: 1.5em;
  margin: 0.5em;
  justify-content: center;
  align-items: center;
}

.contain > div {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
}

.outerColor {
  position: relative;
  border-radius: 1em;
  height: 3.125em;
  width: 3.125em;
  border-style: none;
  vertical-align: middle;
}

.outerColor:hover,
.innerBorder:hover {
  opacity: 80%;
}

.innerBorder {
  position: absolute;
  border: 0.15em solid black;
  border-radius: 0.75em;
  background-color: inherit;
  height: 2.55em;
  width: 2.55em;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.innerBorderWhite {
  position: absolute;
  border: 0.15em solid white;
  border-radius: 0.75em;
  background-color: inherit;
  height: 2.55em;
  width: 2.55em;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.rounded {
  position: relative;
  vertical-align: middle;
  background-color: black;
  border-radius: 50%;
  border-style: none;
}

.innerBrushBorder {
  position: absolute;
  border: 0.15em solid white;
  border-radius: 50%;
  background-color: black;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* I think just keep the .small medium and large, and just do % of those values OOO
   do them as global variables at top and then reference $size or whatever and do * .85 for the
   inner borders */

.small {
  width: 30px;
  height: 30px;
}

.smallFilled {
  width: 20px;
  height: 20px;
}

.medium {
  width: 45px;
  height: 45px;
}
.mediumFilled {
  width: 35px;
  height: 35px;
}
.large {
  width: 60px;
  height: 60px;
}
.largeFilled {
  width: 50px;
  height: 50px;
}

.rounded:hover {
  opacity: 80%;
}
