.vertContain {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 75vh;
  margin-top: 5em;
  gap: 5em;
}

.horizContain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 6em;
  margin-top: 3em;
}

.paletteIconContainer {
  position: absolute;
  width: 30em;
  height: 30em;
  top: 6em;
  z-index: 1;
}

.textVert {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-size: 1.25em;
}

.hide {
  display: none;
}

.showOverlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  color: white;
  font-size: 2.5em;
  border-radius: 50%;
  background-color: rgb(150, 150, 150);
  pointer-events: none;
  user-select: none;
  z-index: 3;
}

.colorInput {
  position: absolute;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  pointer-events: auto;
  z-index: 2;
}

.colorInput::-webkit-color-swatch-wrapper {
  padding: 0;
}

.colorInput::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.circle {
  position: relative;
  top: 4em;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  z-index: 5;
  opacity: 0;
}

.checkmark {
  position: absolute;
  transform: rotate(45deg) translate(-50%, -50%);
  left: 32%;
  top: 45%;
  height: 11.6666666667px;
  width: 5.8333333333px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  transition: all 500ms;
}

.activeButton {
  background-color: initial;
  background-image: linear-gradient(-180deg, #ff7e31, #e62c03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial,
    sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  z-index: 9;
  border: 0;
  margin-top: 9em;
  transition: box-shadow 0.2s;
}

.activeButton:disabled {
  background-image: linear-gradient(-180deg, #d3d3d3, #3a3a3a);
  cursor: default;
}

.activeButton:hover:enabled {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

/* just for passing into DrawingSelection */

.canvasOutline {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
  background-color: white;
  border-top-width: none;
  border-bottom-width: none;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 5px;
}

.overlayBreathingBackground {
  background: linear-gradient(
    0deg,
    rgba(64, 64, 64, 1) 0%,
    rgba(204, 204, 204, 1) 100%
  );
  border-radius: 25px;
  display: grid;
  place-items: end center;
  margin-bottom: 2em;
  width: 75%;
}
