.vertContain {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 70vh;
  gap: 4em;
}

.horizContain {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 80%;
  gap: 1em;
}

.hide {
  display: none;
}

.showOverlay {
  position: absolute;
  width: 10em;
  height: 5em;
  border-radius: 5px;
  background-color: grey;
  pointer-events: none;
}

.colorInput {
  position: absolute;
  width: 10em;
  height: 5em;
  border-radius: 5px;
  cursor: pointer;
  pointer-events: auto;
}

/* .uncompleted {
  border: 2px solid black;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: grey;
}

.completed {
} */

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.circle {
  position: relative;
  top: 5em;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.checkmark {
  position: absolute;
  transform: rotate(45deg) translate(-50%, -50%);
  left: 35%;
  top: 45%;
  height: 11.6666666667px;
  width: 5.8333333333px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}

.activeButton {
  background-color: initial;
  background-image: linear-gradient(-180deg, #ff7e31, #e62c03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial,
    sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  z-index: 9;
  border: 0;
  transition: box-shadow 0.2s;
}

.activeButton:disabled {
  background-image: linear-gradient(-180deg, #d3d3d3, #3a3a3a);
  cursor: default;
}

.activeButton:hover:enabled {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}
