.rectangle {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 35em;
  height: 1em;
  border-width: 2px 0px 2px 0px;
  border-style: solid;
  border-color: black;
  border-radius: 50px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border: 2px solid black;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: white;
}

.active {
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  margin-top: 3em;
}

.inactive {
  font-size: 1.25em;
  color: rgb(100, 100, 100);
  margin-top: 4em;
}
