.rectangle {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 35em;
  height: 1em;
  border-width: 2px 0px 2px 0px;
  border-style: solid;
  border-color: black;
  border-radius: 50px;
}

.circle {
  border: 2px solid black;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: white;
}
