.rectangle {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 35em;
  height: 1em;
  border-width: 2px 0px 2px 0px;
  border-style: solid;
  border-color: black;
  border-radius: 50px;
  z-index: 1;
}

.circle {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: white;

  z-index: 3;
}

.circleContainer {
  width: 32px;
  min-height: 32px;
  border: 2px solid black;
  border-radius: 50%;
  z-index: 3;
}

.active {
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  margin-top: 0.16em;
}

.inactive {
  font-size: 1.25em;
  color: rgb(100, 100, 100);
  margin-top: 0.5em;
}

.completedCircleSkeleton {
  background-color: #18d638;
  border-radius: 50%;
}

.completedProgressSkeleton {
  min-height: 12px;
  background-color: #18d638;
  z-index: 2;
}

@media (max-width: 650px) {
  .rectangle {
    width: 90%;
  }
}